.dashboard {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #F8F8F4;
  width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative; }

.dashboard__header {
  background-color: #fff;
  align-self: flex-start;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem; }
  .dashboard__header__logo img {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem; }
  .dashboard__header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .dashboard__header__nav__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 30rem;
      height: 100%; }
      .dashboard__header__nav__list--item {
        display: inline-block;
        height: 100%;
        line-height: 6rem;
        background-color: #F8F8F4;
        padding: 0 2rem; }
        .dashboard__header__nav__list--item:hover {
          background-color: antiquewhite; }

.dashboard__main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }
  .dashboard__main__menu {
    background-color: #c6c6c6;
    width: 25rem;
    height: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .dashboard__main__menu__links {
      list-style: none;
      padding: 2rem 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .dashboard__main__menu__links--link {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2rem;
        cursor: pointer; }
        .dashboard__main__menu__links--link:hover {
          background-color: #F8F8F4; }
  .dashboard__main__content {
    background-color: #F8F8F4;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 2rem;
    overflow-y: auto; }
    .dashboard__main__content__text--title {
      font-size: 1.5rem;
      font-weight: 300; }

.dashboard__footer {
  background-color: #fff;
  align-self: flex-end;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6rem; }
  .dashboard__footer__logo img {
    width: 1.5rem;
    height: 1.5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center; }
